<div id="main" class="container">
	<h3 id="ab" class="text-center">A little something about me</h3>
	<div class="row">
		<div class="mypic col-xs-12 col-sm-5 col-md-5 col-lg-5">
			<img class="img-responsive" src="../Images/xs/pic3.png" alt="my picture">	
		</div>
		<div class="myinfo col-xs-12 col-sm-7 col-md-7 col-lg-7">
			<p>I'm a Computer Science Master's graduate very much interested in developing anything using various front end technologies and Java. I would like to call myself a web developer with a strong foot hold in HTML, CSS, Bootstrap and AngularJS. I've been using Java all my life and can get most of the things done.	I'm currently seeking a job opportunity in a professionally challenging environment which allows me to efficiently use my technical skills in the best possible way for achieving the company’s goals as well as further enhancing my knowledge.</p>
			<p>Education:</p>
			<p id="ed">University of Texas at Arlington<p>
			<p>I graduated in May 2016 with a GPA of 3.67/4.0 and earned a Master's degree in Computer Science.</p>
			<p id="ed">Osmania University</p>
			<p>I completed my Bachelor's in Computer Science in May 2014 and graduated  with a GPA of 3.75/4.0.</p>
		</div>
	</div>
</div>

