<div id="main" class="container">
	<h3 id="ab" class="text-center">Achievements</h3>
	<div class="row">
		<div class="myaccom col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p>I've just graduated and really still only on the baby steps of my career. There's nothing major or noteworthy here to write home about but these are a few small ones I'm so proud of.</p>
			<ul>
				<li>I presented a review paper at ATMOS 2012 in BITS Hyderabad and won 3rd price for the topic Big Data.</li>
				<li>I presented a demo paper at TECHNOZION 2012 in NIT Warangal on the topic Artificial Intelligence.</li>
				<li>Placed in “Nippon Telegraph and Telephone (NTT) Data” and “Infosys” during campus recruitment drive (career fair) 2013.</li>
			</ul>
		</div>
	</div>
</div>

