<div id="main" class="container">
	<h3 id="ab" class="text-center">Favorites</h3>
	<div class="row">
		<div class="mypic col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<img class="img-responsive" src="..\Images\pic6.png" alt="my picture">
		</div>
		<div class="mypic col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<img class="img-responsive" src="..\Images\pic7.png" alt="my picture">
		</div>
		<div class="myskills col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p>From a very young age, the sports bug hit me. After all those hectic things we do in life, I think it's very important to stay fit and healthy. I'm immensely serious about my sports - so much so that on my off days, sometimes I end up spending half my time playing. I'm very much competent in cricket, tennis, table tennis, badminton and squash. I closely follow quite a few other sports as well.</p>
			<p><span id="ed">Tennis </span>- Roger Federer</p>
			<p><span id="ed">Football </span>- Real Madrid</p>
			<p><span id="ed">Formula One </span>- Scuderia Ferrari</p>
			<p><span id="ed">Cricket </span>- Team India</p>
			<p><span id="ed">Badminton </span>- Lee Chong Wei</p>
		</div>
	</div>
</div>
