<h2 class="text-center">Hello, I'm Varun</h2>
<h3 class="text-center">Rookie Freelancer</h3>
<div class="container visible-xs">
<img id="pic3" src="Images/xs/pic3.png" alt="my picture" class="img-responsive col-xs-12">
<!-- <img id="pic1" src="Images/xs/pic1.png" alt="my picture" class="img-responsive col-xs-6">
<img id="pic2" src="Images/xs/pic2.png" alt="my picture" class="img-responsive col-xs-6"> -->
</div>
<div class="container hidden-xs">
<img id="pic3" src="Images/lg/pic3.png" alt="my picture" class="img-responsive col-sm-12 col-md-12 col-lg-12">
<!-- <img id="pic1" src="Images/xs/pic1.png" alt="my picture" class="img-responsive col-sm-6 col-md-6 col-lg-6">
<img id="pic2" src="Images/xs/pic2.png" alt="my picture" class="img-responsive col-sm-6 col-md-6 col-lg-6"> -->
</div>
<div class="container">
<div id="options">
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<a href="#/skills"><div id="skillsoption"><span>Skills</span></div></a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<a href="#/projects"><div id="projectsoption"><span>Projects</span></div></a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<a href="#/work"><div id="workoption"><span>Work Experience</span></div></a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<a href="#/accom"><div id="accomoption"><span>Accomplishments</span></div></a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<a href="#/contact"><div id="contactoption"><span>Contact Details</span></div></a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<a href="#/favorites"><div id="favoption"><span>Anything Sports!</span></div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<a href="https://www.google.com/maps/place/736+Wood+Duck+Ct,+Middletown,+DE+19709/@39.4589571,-75.6911277,17z/data=!4m5!3m4!1s0x89c70af519da6397:0x80b1ad930d64f54d!8m2!3d39.458953!4d-75.688939!5m1!1e4?hl=en">
	<div id="mapoption">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.0986924442054!2d-75.69112768519379!3d39.45895712125301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c70af519da6397%3A0x80b1ad930d64f54d!2s736+Wood+Duck+Ct%2C+Middletown%2C+DE+19709!5e0!3m2!1sen!2sus!4v1463802067301" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	<span>My Address</span></div></a>
</div>
</div>
</div>