<div id="main" class="container">
	<h3 id="ab" class="text-center">My Technical Skills</h3>
	<h4 id="ab" class="text-center">I'm quite strong...</h4>
	<div class="row">
		<div class="myskills col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p>Throughout all those years of study (whether I liked it or not), I'm fortunate to have been exposed to a lot of technologies - be it for the sake of completing projects or just as part of my courses. Naturally, I liked some and pursued them deep into detail, thereby gaining a certain level of understanding and expertise in them. The remaining I'm acquainted with, but not as masterful as I am with the ones below.</p>
			<p id="ed">Languages / Frameworks</p>
			<p>Java, C, C++, Python, MVC, Ionic, Spring, Maven, REST API, JPA</p>
			<p id="ed">Scripting Languages</p>
			<p>JavaScript, AngularJS, HTML, CSS, PHP, Bootstrap, jQuery</p>
			<p id="ed">Databases</p>
			<p>MYSQL, Oracle 11g, SQL Server, MongoDB</p>
			<p id="ed">IDE’s</p>
			<p>Eclipse, Visual Basic</p>
			<p id="ed">Mobile Operating Systems</p>
			<p>iOS, Android</p>
			<p id="ed">Tools</p>
			<p>Amazon Web Services, Git, Bower, Postman, npm, Grunt, Gulp, Google Cloud, Wireshark, WordPress, MS Project Planner</p>	
		</div>
	</div>
</div>

